<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet"  href="/static/css/basic.css" type="text/css">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title> satish subedi </title>


     <style>
 .jumbotron {
    padding: 8rem 1rem;
    margin-bottom: 0;
    background-color: #e9ecef;
    border-radius: .3rem;
}
.jumbotron h1{
  margin-top: 1rem;
  color: crimson;
  font-weight: 500;
}
.jumbotron  p{
  color: #838383;
  font-weight: 500;
}
.jumbotron  span{
  color: #ffffff;
  font-weight: 500;
}
.jumbotron .btn{
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .5s ease;
  transition-property: background-color, color;
}
.jumbotron .btn:hover{
  color: white;
  background-color: crimson;
}
 .about-me .btn {
  align-items: center;
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-top: 30px;
  transition: .5s ease;
  transition-property: background-color, color;
    }
    .about-me .btn:hover{
      background-color: crimson;
      color: white;
    }

     </style>

		

</head>
  <body>


        <!-- Header -->
  <section id="header">
    <div class="header containers">
      <div class="nav-bar">
        <div class="brand">
          <a href="/sas" style="text-decoration: none;"><h1><span>S</span>atish <span>S</span>ubedi</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="/sas" data-after="Home">Home</a></li>
            <li><a href="/sas/about" data-after="About">About</a></li>
            <li><a href="/sas/contact" data-after="Contact">Contact</a></li>
            <li><a href="/blog" data-after="Blog">Blog</a></li>
             {% if user.is_authenticated %}
             <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               welcome {{request.user}}
              </button>
              <div class="dropdown-menu" style="height: 50px; top: 40px; background-color: red;">
               <li class="list" style="color: crimson; font-size: 5px;"> <a class="dropdown-item" href="/sas/logout" style="font-size: 10px; height: 1px; color: crimson margin-bottom :1rem;">logout</a></li>
    
                
              </div>
            </div>
               
            {% else %}
            <li><a class="enter" href="/sas/login">Login</a></li>
            {% endif %} 
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <section>
  <div class="jumbotron" style="background-color: #0c0c17;">
    <div class="container">
      <h1 class="display-3">Hello</h1>
      <p>My name is <span>Satish Subedi,</span> I am a self taught computer programmer capable of doing frontend and backend work.I am studying <span>Computer Science</span> in <span>Patan Multiple Campus</span> which is located in lalitpur..  </p>
      <p><a class="btn btn-lg" href="#" role="button">know more &raquo;</a></p>
    </div>
  </div>
</section>





 <!--Start About-->
<section class="about-me">
	<div class="container">
		<div class="row">
			<div class="section-title">
				<h1>About Me</h1>
				<p class="small text-uppercase">Information About Me</p>
			</div>
		</div>
		<div class="row">
			<div class="about-content">
				<div class="row">
				<div class="img">
					<img src="/static/img/photo.jpg" alt="aout-me">
				</div>
					<div class="text">
						<h4>I'M Satish Subedi</h4>
						<h6>Studying<span> Computer Science</span> at<span> Tribhuvan University</span></h6>
						
						<div class="info">
							<div class="list">
								<label>Birthday:</label>
								<p>15th Nov 2000</p>
						    </div>
						    <div class="list">
								<label>Email:</label>
								<p>satish18@gmail.com</p>
							</div>
							<div class="list">
								<label>Age:</label>
								<p>21 Yr</p>
							</div>
								<div class="list">
								<label>Phone:</label>
								<p>9861351199</p>
							</div>
							<div class="list">
								<label>Resident:</label>
								<p>Nepal</p>
							</div>
							<div class="list">
								<label>Address:</label>
								<p>Tokha-10, Samakushi</p>
							</div>
							<div class="list">
								<label>Hobies:</label>
								<p>Playing Cricket,Adventure,Reading books etc.. </p>
							</div>
						</div>
            <a class="btn  btn-lg" href="/sas/resume" role="button"> downlode cv </a></p>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End About-->

   
<!-- Footer -->
  <section id="footer">
    <div class="footer containers">
      <div class="brand"><h1><span>F</span>ollow <span>M</span>e <span>O</span>n</h1></div>
      <div class="social-icon">
        <div class="social-item">
           <a href="https://www.facebook.com/profile.php?id=100013567849262"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-instagram"></i></a>
        </div>
        <div class="social-item">
          <a href="http://linkedin.com/in/satish-subedi-033466189"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-twitter"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-github"></i></a>
        </div>
      </div>
      <p>Copyright © 2020 Satish. All rights reserved</p>
    </div>
  </section>
  <!-- End Footer -->




 
<script src="/static/js/basic.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>

